desktop.ini

# c#
Noti.Data/obj/Debug/net6.0/Noti.Data.AssemblyInfo.cs
# c# editorconfig
Noti.Data/obj/Debug/net6.0/Noti.Data.GeneratedMSBuildEditorConfig.editorconfig
Noti.Entity/obj/Debug/net6.0/Noti.Entity.GeneratedMSBuildEditorConfig.editorconfig
Noti.Service/obj/Debug/net6.0/Noti.Service.GeneratedMSBuildEditorConfig.editorconfig
/.vs/Noti/v17
/Noti.Data/obj/Debug/net6.0/Noti.Data.assets.cache
/Noti.Entity/obj/Debug/net6.0/Noti.Entity.assets.cache
/Noti.Service/obj/Debug/net6.0/Noti.Service.assets.cache
